body {
  background-color: rgba(44, 44, 44, 0.8);
}
main {
  max-width: 900px;
  padding: 1rem;
  background-color: rgba(44, 44, 44, 0.95);
  color: white;
  position: absolute;
  /* top: 50%; */
  left: 50%;
  transform: translateX(-50%);
}
a {
  color: red;
}
h1,
.header1 {
  text-decoration: underline red;
  font-size: 3rem;
}
h2,
h3 {
  text-decoration: underline dotted pink;
}
img {
  float: right;
  width: 40%;
  margin: 1rem;
}
