.home-resa {
  position: fixed;
  right: 10px;
  bottom: 10px;
  z-index: 998;
  background-color: transparent;
  border: none;
}

.home-resa img {
  max-width: 100px;
  border-radius: 10px;
}
#dialog {
  width: 100vw;
  height: 100vh;
  background-color: rgba(128, 128, 128, 0.7);
  margin: auto;
  position: fixed;
  bottom: 0;
  top: 0;
  z-index: 999;
  color: black;
  border: none;
  display: none;
}
#dialog input,
#dialog option,
#dialog button,
#dialog label,
#dialog select,
#dialog textarea {
  color: black;
}
.dialog-form {
  margin: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: wheat;
  padding: 2rem;
  border-radius: 15px;
}
.output-div,
.output-container,
.output-txt {
  display: none;
}

.output-div_reveal {
  display: block;
  width: 100vw;
  height: 100vh;
  background-color: rgba(128, 128, 128, 0.7);
  margin: auto;
  position: fixed;
  bottom: 0;
  top: 0;
  z-index: 999;
  color: black;
}

.output-container_reveal {
  display: block;
  width: auto;
  min-height: 50vh;
  border-radius: 5px;
  padding: 2rem;
  margin: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: wheat;
  display: flex;
  align-items: center;
}
.output-txt_reveal {
  display: block;
}
.output-p {
  color: black;
  font-size: 2rem;
  text-indent: 20px;
}
.close-form,
.close-output {
  position: absolute;
  top: 10px;
  right: 10px;
  color: black;
  font-size: 1.5rem;
  font-weight: bold;
  cursor: pointer;
}
.close-form img,
.close-output img {
  width: 2rem;
}
label {
  display: flex;
}
#resaBtn {
  padding: 0.3rem;
  background-color: black;
  color: wheat;
  max-width: 30%;
  text-align: center;
  margin-top: 1rem;
  cursor: pointer;
}
#rgpd-label {
  display: block;
}
#rgpd-label a {
  color: blue;
}
.error {
  color: red;
  font-size: 0.8rem;
}
