@import url("https://fonts.googleapis.com/css2?family=Nova+Oval&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Chakra+Petch&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans&display=swap");

* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  color: white;
  font-family: "Alegreya Sans", sans-serif;
}

body {
  margin: auto;
}

/* HEADER */
header {
  width: 100vw;
  height: auto;
  position: fixed;
  top: 0%;
  z-index: 999;
  background-color: #2c2c2cf2;
  display: flex;
  color: white;
}
.logo {
  width: 15vw;
  height: 15vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo img {
  width: 12vw;
}
.header-right {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
h1 {
  text-align: center;
  font-size: 5rem;
  font-family: "Nova Oval", cursive;
  color: #b1822cb3;
}

h2 {
  text-align: center;
  font-size: 1.5rem;
  padding-bottom: 1rem;
  font-family: "Nova Oval", cursive;
  color: rgba(245, 222, 179, 0.9);
}
nav ul {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  margin-bottom: 12px;
}
nav ul li {
  list-style: none;
}
nav a {
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  font-family: "Chakra Petch", sans-serif;
}
nav a.active {
  color: wheat;
  background-color: rgba(177, 130, 44, 0.7);
  padding: 10px;
  border-radius: 10px;
  box-shadow: 2px 3px 3px rgba(177, 130, 44, 0.4);
}
/* burger */
.sidenav {
  height: 100%;
  width: 200px;
  position: fixed;
  z-index: 1;
  top: 0;
  right: -250px;
  background-color: wheat;
  padding-top: 60px;
  transition: left 0.5s ease;
}
.sidenav,
#openBtn {
  display: none;
}
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #2c2c2cf2;
  display: block;
  transition: 0.3s;
}
.sidenav a:hover {
  color: rgb(112, 161, 38);
}
.sidenav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.sidenav.active {
  left: calc(100vw - 200px);
}
.sidenav .close {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
}
.burger-icon span {
  display: block;
  width: 35px;
  height: 5px;
  background-color: wheat;
  margin: 6px 3px;
}
.sidenav button {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  background-color: transparent;
  border: none;
}

/* SECTIONS */
.home {
  background-image: url(/assets/bg/bg1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  min-height: 1050px;
  position: relative;
}
.events {
  background-image: url(/assets/bg/bg2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  min-height: 1600px;
}
.menu {
  background-image: url(/assets/bg/bg3.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  min-height: 2800px;
}

.staffs {
  background-image: url(/assets/bg/bg4.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  min-height: 1150px;
}
.products {
  background-image: url(/assets/bg/bg5.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  min-height: 1150px;
}
.contact {
  background-image: url(/assets/bg/bg6.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  max-height: 650px;
  position: relative;
}
.parallax {
  width: 100%;
  height: 100vh;
  padding-top: 17vw;
  background-attachment: fixed;
}

/* HOME */
.home-container {
  width: 90%;
  max-width: 1000px;
  margin: auto;
  margin-top: 20px;
  position: relative;
  background-color: rgba(44, 44, 44, 0.95);
  padding: 3%;
  border-radius: 5px;
}
.dinan1 {
  width: 30%;
  float: right;
  border: 30px solid transparent;
  border-radius: 30%;
}
.dinan2 {
  width: 30%;
  float: left;
  border: 30px solid transparent;
  border-radius: 30%;
}

.dinan1:hover {
  transform: rotate(15deg) scale(1.2);
  border-radius: 50%;
}

.dinan2:hover {
  transform: rotate(-15deg) scale(1.2);
  border-radius: 50%;
}
.home p {
  font-size: 1.5rem;
  text-indent: 2rem;
  text-align: justify;
}

/* slider */
.slider-container {
  position: relative;
  max-width: 960px;
  margin: 0 auto;
  margin-top: 5rem;
  display: block;
}
.slider-container h3 {
  font-size: 2.5rem;
  max-width: 15rem;
  margin: auto;
  margin-bottom: 2rem;
  padding: 0.5rem;
  border-radius: 5px;
  color: rgba(177, 130, 44, 1);
  background-color: wheat;
}
.carousel {
  max-width: 50%;
  position: relative;
  margin: 0 auto;
}
.carousel2 {
  display: none;
}
.carousel li {
  list-style: none;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  transition: all 0.6s, z-index 0.2s;
  will-change: transform;
}
.carousel li div {
  display: flex;
  justify-content: center;
  align-items: center;
}
.carousel li img {
  height: 240px;
}

.left {
  transform: translateX(-60%) scale(0.7);
  opacity: 0.6;
  z-index: 2;
}
.left #dia1,
.left #dia2,
.left #blue,
.left #dia3,
.left #dia4,
.left #dia5,
.right #dia6,
.right #dia1,
.right #dia2,
.right #dia3,
.right #dia4,
.right #dia5,
.right #dia6 {
  background-color: transparent;
  border: none;
  box-shadow: none;
}
.center {
  z-index: 10;
}

.right {
  transform: translateX(60%) scale(0.7);
  opacity: 0.6;
}

.carousel .first {
  z-index: 0;
}

.paginator {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: 0 auto;
}

.paginatorBtn {
  display: flex;
  width: 25px;
  height: 25px;
  padding: 5px;
  font-size: 3rem;
  justify-content: center;
  align-items: center;
  color: rgba(177, 130, 44, 0.9);
  border-radius: 50%;
  cursor: pointer;
  z-index: 100;
}

#dia1,
#dia2,
#dia3,
#dia4,
#dia5,
#dia6 {
  width: 500px;
  height: 250px;
  border: 3px solid rgb(177, 131, 44);
  border-radius: 25px;
  box-shadow: 2px 3px 3px rgba(177, 130, 44, 0.6);
  background: wheat;
}

/* EVENTS */
.events h3 {
  text-align: center;
  font-size: 2.5rem;
  padding: 0.5rem;
  color: rgba(177, 130, 44, 1);
  background-color: wheat;
  margin: auto;
  margin-bottom: 2rem;
  max-width: 20%;
  border-radius: 5px;
}
.events a {
  text-decoration: none;
  color: red;
  position: absolute;
  right: 0.5rem;
  background-color: rgba(0, 0, 0, 0.5);
  cursor: pointer;
  padding: 0.5rem;
  border-radius: 5px;
  box-shadow: 2px 3px 3px rgba(112, 161, 38, 0.5);
}
.all-events {
  width: 85%;
  display: flex;
  gap: 2rem;
  margin: auto;
  justify-content: space-evenly;
  align-items: start;
}
.events-list {
  max-width: 600px;
  background-color: rgba(44, 44, 44, 0.9);
  border-radius: 5px;
  padding-bottom: 2rem;
}
.events-list li {
  list-style-image: url("/assets/icones/agenda.svg");
  padding-left: 2rem;
  position: relative;
  margin-bottom: 1.5rem;
}
.li-after::after {
  content: "";
  display: block;
  position: absolute;
  bottom: -50px;
  left: 50%;
  transform: translateX(-50%);
  width: 80%;
  height: 3px;
  background: linear-gradient(
    to right,
    rgb(177, 130, 44) 0%,

    rgb(112, 161, 38) 100%
  );
}

.events-list h4 {
  font-size: 2rem;
  color: rgb(112, 161, 38);
}
.event-time {
  font-size: 1.2rem;
  font-weight: bold;
  color: palevioletred;
}
.event-time::before,
.event-time::after {
  content: "\01F564";
  content: "\01F564";
}
.event-description {
  width: 95%;
  text-align: justify;
}
.frame {
  margin-top: 7rem;
  padding: 1rem;
  background-color: wheat;
  border-radius: 10px;
}

/* MENU */
.menu h3 {
  font-size: 2.5rem;
  max-width: 50rem;
  height: 3rem;
  margin: 0 auto;
  padding: 0.5rem;
  border-radius: 5px;
  color: rgba(177, 130, 44, 1);
  background-color: wheat;
  text-align: center;
}
.menu {
  position: relative;
}
.menu-header {
  width: 95%;
  display: flex;
  gap: 1rem;
  margin: auto;
  align-items: top;
  justify-content: center;
}
.download {
  position: absolute;
  bottom: 30px;
  right: 0;
  transform: rotate(-30deg);
  padding: 0.5rem;
  background-color: wheat;
}
.sidenav .download-burger {
  padding: 0.5rem;
  background-color: #2c2c2c;
  font-size: 1rem;
  text-align: center;
  margin-top: 2rem;
}
.sidenav .download-burger a {
  color: wheat;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.2rem;
  padding: 0;
}
.download a {
  color: rgb(44, 44, 44);
  text-decoration: none;
  font-weight: bold;
}
.menu h4 {
  font-size: 2.5rem;
  color: rgba(177, 130, 44, 1);
  text-align: center;
  margin-bottom: 1.5rem;
}
.aside-1 {
  width: 25%;
  background-color: black;
  text-indent: 1rem;
  padding: 0.5rem;
  box-shadow: 2px 3px 3px #b1822c;
}
.aside-1 li {
  margin-bottom: 0.5rem;
}
.menu-important {
  color: salmon;
  font-weight: bold;
}
.aside-2 {
  width: 20%;
  background-color: black;
  padding: 0.5rem;
  box-shadow: 20px 30px 10px rgba(177, 130, 44, 1);
  display: flex;
  flex-direction: column;
  align-items: center;
  transform: rotate(5deg);
  font-size: 1.3rem;
}
.aside-2 li li {
  list-style: none;
}
.menu-section {
  display: flex;
  justify-content: space-between;
  width: 75%;
  background-color: rgba(44, 44, 44, 0.85);
  margin: auto;
  margin-top: 2rem;
  padding: 1rem;
}
.menu-photos {
  display: none;
}
#entrees,
#plats,
#desserts {
  position: relative;
}
.menu-section figure {
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
  margin-bottom: 3rem;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 1rem;
  border-radius: 5px;
}
.menu-section figcaption {
  padding: 1rem;
  position: relative;
}
.menu-section figcaption h5 {
  font-size: 1.5rem;
  color: rgb(116, 99, 3);
}
.menu-section img {
  width: 100%;
  max-height: 20vh;
  object-fit: cover;
}
.menu-section img:hover {
  transform: scale(1.05);
  z-index: 99;
  border-radius: 15px;
  z-index: 1;
}
.vege {
  color: red;
  position: absolute;
  right: 0;
}
.note {
  text-align: center;
  color: wheat;
  width: 75%;
  margin: auto;
  margin-top: -3rem;
}
.price {
  width: 3rem;
  height: 3rem;
  text-align: center;
  line-height: 2.8rem;
  color: rgb(80, 52, 1);
  font-size: 1.8rem;
  font-weight: bold;
  border: solid 2px rgba(177, 130, 44, 0.9);
  border-radius: 50%;
  box-shadow: 2px 3px 3px rgba(177, 130, 44, 0.4);
  background-color: rgba(245, 222, 179, 0.8);
  position: absolute;
  right: 2rem;
  top: 0;
}
.imp-price {
  color: rgb(0, 229, 255);
  font-size: 2rem;
}

/* STAFF */
.divStaffsThumbs {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  margin: auto;
}
.divStaffsThumbs figure {
  width: 20%;
  margin: auto;
  display: flex;
  flex-direction: column;
  margin-bottom: 3rem;
  text-align: center;
  background-color: rgb(0, 0, 0);
  padding: 1rem;
  border-radius: 5px;
}
.divStaffsThumbs figcaption {
  padding: 1rem;
  position: relative;
  height: 11rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.divStaffsThumbs img {
  height: 10rem;
  object-fit: cover;
}
.staffs h3 {
  font-size: 2.5rem;
  max-width: 13rem;
  margin: auto;
  margin-bottom: 2rem;
  padding: 0.5rem;
  border-radius: 5px;
  color: rgba(177, 130, 44, 1);
  background-color: wheat;
}
.staffs h4 {
  font-size: 1.5rem;
  color: rgb(116, 99, 3);
}
.devise {
  color: rgb(200, 115, 115);
}
.staffs img:hover {
  transform: scale(1.05);
  z-index: 99;
  border-radius: 15px;
  z-index: 1;
}

/* PRODUCTEURS */
.divProductsThumbs {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  margin: auto;
}
.divProductsThumbs figure {
  width: 20%;
  margin: auto;
  display: flex;
  flex-direction: column;
  margin-bottom: 3rem;
  text-align: center;
  background-color: rgb(0, 0, 0);
  padding: 1rem;
  border-radius: 5px;
}
.divProductsThumbs figcaption {
  padding: 1rem;
  position: relative;
  height: 11rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.divProductsThumbs img {
  height: 10rem;
  object-fit: cover;
}
.products h3 {
  font-size: 2.5rem;
  max-width: 31rem;
  margin: auto;
  margin-bottom: 2rem;
  padding: 0.5rem;
  border-radius: 5px;
  color: rgba(177, 130, 44, 1);
  background-color: wheat;
}
.products h4 {
  font-size: 1.5rem;
  color: rgb(116, 99, 3);
}
.city {
  color: rgb(200, 115, 115);
}
.products img:hover {
  transform: scale(1.05);
  z-index: 99;
  border-radius: 15px;
  z-index: 1;
}

/* CONTACT */
.header-contact {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  background-color: rgba(44, 44, 44, 0.95);
  padding: 1rem;
  border-radius: 5px;
  box-shadow: 5px 5px 3px rgba(177, 130, 44, 0.4);
}
.contact h3 {
  text-align: center;
  color: rgb(173, 147, 2);
  font-size: 2rem;
}
.contact a {
  text-decoration: none;
}

.contact figcaption {
  color: rgb(173, 147, 2);
  text-align: center;
}
.contact-links {
  width: 100%;
  display: flex;
  margin: auto;
  justify-content: space-evenly;
  align-items: center;
}
.infos-contact {
  width: 70%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 2rem auto;
}
.infos-contact img {
  width: 25%;
}
.infos-contact img:hover {
  opacity: 0.85;
}
.infos-contact iframe {
  width: 25%;
}

/* FOOTER */
footer {
  width: 100%;
  background-color: rgba(44, 44, 44, 0.95);
  padding: 1rem 0;
  display: flex;
  justify-content: start;
  position: absolute;
  bottom: 0;
}
footer a {
  color: red;
  margin-left: 75px;
}
